@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #2B2D42;
  background: #F8F9FA;
}

button,
input,
textarea,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
}